body{
	background-color: #FFFBEF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.sc{
	width: 20px; 
	line-height: 20px;
}

.button {
	float: right;
	margin: 5px;
	background-color: #a4492b;
	border-radius: 20px;
	border: none;
	color: white;
	font-weight : bold;
	font-size: 20px;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.button:hover{
	background-color: #D6AD60;
	color: white;
}

fieldset{
	margin: 30px;
	border-radius: 25px;
	padding: 20px;
	padding-left:30px
}

legend{
	font-size: 20px;
	font-weight: bold;
	
}

h2{
	padding: 40px;
	padding-left: 80px;
	background-color: #FF8F6A;
	margin: 0;
}

form{
	padding-left: 30px;
}

.shortI{
	width: 300px; 
	line-height: 24px;
}